.searchbar {
    background: #f1f3f4;
    border: 1px solid transparent;
    max-width: 720px;
    position: relative;
    text-align: center;
}

.searchInput {
    height: 46px;
    padding: 0;
    margin-left: 35px;
    margin-right: 49px;
    overflow: hidden;
}

.input {
    background: transparent;
    border: none;
    font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 46px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.closeButton {
    position: absolute;
    right: 0;
    top: 16px;
    padding: 0 10px;
    font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    /* visibility: hidden; */
}

.searchButton {
    position: absolute;
    left: 0;
    top: 16px;
    padding: 0 10px;
    font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}